@use "./variables.scss" as *;

.mat-mdc-mini-fab.mat-accent {
  background-color: #2f3748;
  color: white;
  &:hover {
    transform: scale(1.1);
  }
}

.btn-icon {
  transform: scale(0.75);
}

.btn-center {
  display: flex;
  justify-content: center;
}

.btn-update {
  width: 100%;
  height: 40px;
  margin: auto;
  font-size: 13px !important;
}

.btn-add {
  width: 70px !important;
  height: 24px !important;
  font-size: 13px !important;
  padding: 0 !important;
}

.btn-close {
  --mdc-icon-button-state-layer-size: 26px !important;
  --mdc-icon-button-icon-size: 16px;
  padding: calc(
    calc(
        var(--mdc-icon-button-state-layer-size) -
          var(--mdc-icon-button-icon-size)
      ) / 2
  ) !important;
}

.mat-mdc-icon-button .mat-mdc-button-touch-target {
  height: var(--mdc-icon-button-state-layer-size) !important;
  width: var(--mdc-icon-button-state-layer-size) !important;
}
