@use "../../styles/variables.scss" as *;
@use "@angular/material" as mat;

.dialog-tabs {
  @include mqmin(large) {
    margin: 20px;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-close {
      @include mqmin(large) {
        display: none;
      }
    }
  }
  h4 {
    @include mqmin(large) {
      margin-top: 30px;
    }
  }

  &-select {
    width: 170px;
    font-size: 13px;
    margin-top: 5px;
  }

  &-text {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 21px;
    color: #516173;
    margin-top: 10px;
    input {
      width: 170px;
      height: 30px;
      padding: 5px 8px;
      border-radius: 3px;
      border: solid 1px #e2e7ee;
      font-family: $fontSecondary;
    }
  }

  &-other {
    border-radius: 3px;
    line-height: 21px;
    font-size: 13px;
    margin: 10px -10px 0 -10px;
    box-shadow: 0 4px 8px 0 rgba(49, 57, 67, 0.05);
    border: solid 1px #e2e7ee;
    background-color: #fff;
    &-header {
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom: solid 1px #f1f4f8;
      background-color: #f9fafb;
      color: #242b39;
      > * {
        margin: 0 10px;
      }
    }
    &-container {
      overflow: hidden;
    }
    &-inner {
      display: flex;
      height: 40px;
      justify-content: space-between;
      margin: 0 10px;
      color: #516173;
      margin-top: -30%;
      transition: 0.3s;
      &-closed {
        margin-top: 0;
      }
      label {
        margin: auto 0;
      }
      input {
        width: 50px;
        height: 30px;
        margin: auto 0;
        padding: 5px 8px;
        border-radius: 3px;
        border: solid 1px #e2e7ee;
      }
    }
  }
}

// Custom mat select

::ng-deep .mat-mdc-text-field-wrapper,
::ng-deep .mat-mdc-form-field {
  max-height: 30px;
}

::ng-deep .mat-mdc-form-field-infix {
  padding: 2px !important;
}

// Custom mat divider

.mat-divider {
  margin: 15px 0;
}

// Custom mat switch

::ng-deep .mdc-switch {
  --mdc-switch-track-height: 20px;
  --mdc-switch-track-shape: calc(var(--mdc-switch-track-height) / 2);
  --mdc-switch-handle-width: 16px;
  --mdc-switch-handle-height: var(--mdc-switch-handle-width);
  --mdc-switch-selected-handle-color: #fff;
}

::ng-deep .mdc-switch__handle {
  left: 2px !important;
}

::ng-deep .mdc-switch .mdc-switch__handle-track {
  width: calc(90% - var(--mdc-switch-handle-width)) !important;
}

::ng-deep .mat-expansion-panel {
  --mat-expansion-header-disabled-state-text-color: #f9fafb;
}

// Input validation
.ng-invalid {
  border: solid 2px red !important;
}
::placeholder {
  color: red !important;
}
