@use "../../styles/variables.scss" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

// Display 3 tiles - 33/33/33
.grid-item {
  aspect-ratio: 2 / 1;
  grid-column: span 12;
  padding: 5px;
  @include mqmin(medium) {
    padding: 10px;
    aspect-ratio: 1 / 1;
    grid-column: span 6;
  }
  @include mqmin(large) {
    padding: 15px;
    grid-column: span 4;
    aspect-ratio: 1 / 1;
  }
}

// Display 3 tiles - 25/25/50
// For reusability @function/@mixin can be used
.grid-item-half {
  @include mqmin(large) {
    &:nth-of-type(6n) {
      aspect-ratio: 1 / 1;
      grid-column: span 3;
    }
    &:nth-of-type(6n-1) {
      aspect-ratio: 1 / 1;
      grid-column: span 3;
    }
    &:nth-of-type(6n-2) {
      aspect-ratio: 2 / 1;
      grid-column: span 6;
    }
    &:nth-of-type(6n-3) {
      aspect-ratio: 2 / 1;
      grid-column: span 6;
    }
    &:nth-of-type(6n-4) {
      aspect-ratio: 1 / 1;
      grid-column: span 3;
    }
    &:nth-of-type(6n-5) {
      aspect-ratio: 1 / 1;
      grid-column: span 3;
    }
  }
}
