@use "../../styles/variables.scss" as *;

.dialog {
  display: grid;
  grid-template-areas:
    "a c c"
    "a c c"
    "b c c";
  grid-template-columns: 320px 1fr;
  font-family: $fontSecondary;
  font-weight: 400;
}

.mat-dialog-actions {
  margin: auto 20px;
  padding: 0;
}

.dialog-inner {
  border-left: solid 1px #e2e7ee;
  background-color: #f9fafb;
  padding: 10px;
  &-top {
    justify-content: end;
    padding: 0;
    min-height: 16px;
  }
}

.icon-close {
  height: 16px;
  width: 16px;
  font-size: 16px;
}
