<form class="dialog" (ngSubmit)="onSubmit()" #form="ngForm">

    <app-dialog-tabs [settings]="settings" style="grid-area: a; border-bottom: solid 1px #e2e7ee;"></app-dialog-tabs>
    <div mat-dialog-actions class="mat-dialog-actions" style="grid-area: b;">
        <button [disabled]="!form.form.valid" class="btn btn-update" mat-raised-button color="primary"
            type="submit">Update</button>
    </div>
    <div class="dialog-inner" style="grid-area: c;">
        <div mat-dialog-actions class="dialog-inner-top">
            <button class="btn-close" mat-icon-button mat-dialog-close aria-label="Close settings">
                <mat-icon svgIcon="close-btn" class="icon-close"></mat-icon>
            </button>
        </div>
        <app-dialog-inner></app-dialog-inner>
    </div>
</form>