@use "../../styles/variables.scss" as *;

.dialog-inner-content {
  @include mqmin(large) {
    margin: auto 10px;
  }

  header {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}

.table {
  margin-top: 12px;
  border-radius: 4px;
  border: $border;
  background-color: #f1f4f8;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  &-header {
    display: none;

    @include mqmin(large) {
      display: grid;
      grid-template-columns: 10% 10% 35% 35% 10%;
      height: 30px;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      color: $fontColorSecondary;
      font-weight: 500;
      border-bottom: $border;
    }

    span {
      margin: 9px 0;
      &:nth-of-type(1) {
        margin: 9px auto;
      }
    }
  }
  &-arrange-icon {
    width: 16px;
    height: 16px;
    margin: 7px auto;
  }
}

.table-list-item {
  background-color: #fff;
  line-height: 21px;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  margin: 10px auto;
  &-remove {
    grid-column: 3;
    grid-row: 1;
  }
  &-input {
    grid-column: span 3;
  }
  @include mqmin(large) {
    grid-template-columns: 10% 10% 35% 35% 10%;
    height: 40px;
    margin: 0 auto;
    &-remove {
      grid-column: 5;
    }
    &-input {
      grid-column: span 1;
    }
  }
  > * {
    margin: auto 0;
  }

  input[type="text"],
  input[type="color"] {
    border-radius: 3px;
    border: $border;
    font-family: $fontSecondary;
    font-size: 13px;
  }
  input[type="text"] {
    max-width: 220px;
    height: 30px;
    padding: 5px 8px;
  }
  input[type="color"] {
    max-width: 30px;
    margin: auto;
  }

  .icon-move {
    margin: auto;
    width: 16px;
    height: 16px;
  }
  .icon-remove {
    margin: auto;
    width: 16px;
    height: 17px;
  }
}

.table-list-item-drag-placeholder {
  background: #f1f4f8;
  min-height: 40px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
