@use "../../styles/variables.scss" as *;
.table-list-item {
  height: 40px;
  background-color: #fff;
  line-height: 21px;
  display: grid;
  grid-template-columns: 10% 10% 35% 35% 10%;
  > * {
    margin: auto 0;
  }
  input[type="text"] {
    max-width: 220px;
    height: 30px;
    padding: 5px 8px;
    border-radius: 3px;
    border: solid 1px #e2e7ee;
    font-family: $fontSecondary;
    font-size: 13px;
  }
  input[type="color"] {
    max-width: 30px;
    margin: auto;
    border-radius: 3px;
    border: solid 1px #e2e7ee;
    font-family: $fontSecondary;
    font-size: 13px;
  }

  .icon-move {
    margin: auto;
    width: 16px;
    height: 16px;
  }
  .icon-remove {
    margin: auto;

    width: 16px;
    height: 17px;
  }
}

.table-list-item-drag-placeholder {
  background: #f1f4f8;
  min-height: 40px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
