@use "./app/styles/variables.scss" as *;
@use "./app/styles/buttons.scss" as *;

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //debug overflow
  //outline: 1px solid red;
  //overflow-x: auto;
  //overflow-x: hidden;
}

.container {
  width: min(1200px, 100% - 4rem);
  margin-inline: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.hidden {
  visibility: hidden;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

h3 {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: $fontColorPrimary;
}
h4 {
  font-size: 13px;
  font-weight: 400;
  color: $fontColorSecondary;
}
h5 {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #9fa7bb;
  text-transform: uppercase;
}
